<h3>Overview</h3>

<p>This tool explores the points system used in the ICC Test Championship.</p>

<p>In the same way that
if you toss a coin millions of times, you would expect to get heads 50% of the time and
tails 50%, by simulating what happens when you play the championship repeatedly with random 
results, it reveals the chances each team has of winning and exposes any bias in the rules.</p>

<p>As the purpose of this tool is to determine the fairness of the rules, not decide which country is 
best at cricket, the simulation assumes that all teams are equally skillful - i.e. in any
match, both teams have an equal chance of winning.</p>

<p>A false assumption in the real world, I'll grant you,
but if it were true, and the rules of the Test Championship were fair, all teams should have 
an equal chance to qualify for the final.</p>

<p><b>Spoiler alert:</b> they don't!</p>

<h3 style="margin-top:50px">Privacy information</h3>
<ul>
      <li>No cookies are used; I do nothing to track visits to this site.</li>
      <li>Only Microsoft/Github (who host this site) have access to the servers it runs on and any logs it generates. 
      Search for references to "github pages" in <a href="https://help.github.com/en/articles/github-privacy-statement">their privacy policy</a>
      for details.</li>
      <li>Everything is calculated in your browser. Nothing you enter into this site leaves your computer/phone unless you send it to someone.</li>
</ul>

<div class="button-row">
     <button mat-flat-button matStepperNext type="submit" color="primary"><mat-icon>navigate_next</mat-icon>Enough waffle, get on with it</button>
</div>